.heading{
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 1.5em;
    padding-left: 0.1em;
    
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: .3em;
}

footer{
    text-align: center;
    /* margin: 1em; */
}