nav ul, nav li {
    display:inline-block;
    list-style:none;
    margin: 0;
    padding: 0;
  }
  
  nav > ul > li {
    line-height:40px;
    position:relative;
    float:left;
  }
 
  nav > ul > li > ul {
    position:absolute;
    /* left:0; */
    top:40px;
    display:none;
  }
  
  nav > ul > li:hover > ul{
    display:block;
    background-color: #744253;
  }
  
  nav > ul > li > ul > li{
    width:10rem;
    /* padding:0 10px; */
    background-color: #744253;
    color: whitesmoke;
  }

/* nav > ul > li > ul > li>a{
    color: white;
  }
  nav > ul>li>a{
    color: white;
  } */
  nav > ul>li>a:hover{
    color: white;
    background-color: #431726;
  }

.icon{
    font-size: 40px;
    color: black;
}
.header,.footer{
    background-color: #c78283;
}
.main{
    background-color: #f3d9dc;
}
.nav{
    background-color: #744253;
}

.logo{
    width: 44px;
    height: 44px;
}